.about-app {
    padding: 12.2rem 0;
    .container {
        background-image: url('../images/about-app/bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;

    }
    &__posttitle {
        text-align: center;
    }

    &__title {
        text-align: center;
        margin: 20px 0 0 0;
    }

    &__wrapper {
        max-width: 761px;
        width: 100%;
        margin: 6rem auto 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__ui {
        max-width: 337px;
        width: 100%;
        display: flex;
        margin: 12rem auto 0 auto;
        justify-content: space-between;
        align-items: center;
        span {
            font-weight: 600;
            font-size: 12px;
            line-height: 19px;
            text-align: center;
            position: relative;
            display: block;
            color: #ADB3CB;
            &:after, &::before {
                content: '';
                display: block;
                position: absolute;
                width: 15px;
                top: 40%;
                transform: translateX(-50%);
                height: 1px;
                background: #DAE4FE;
            }
            &:after {
                right: -36px;
            }
            &::before {
                left: -20px;
            }
        }
    }

    &__btn-first {
        color: #D43F3F;
        background: #FFD7D7;
    }

    &__btn {
    }
}
.about-app-item {
    text-align: center;
    flex: 0 0 140px;
    font-family: 'Open Sans';
    min-width: 160px;
    position: relative;
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 28px;
        right: -60px;
        top: 54%;
        transform: translateX(-50%);
        height: 1px;
        background: #DAE4FE;
    }
    &:last-child {
        &:after {
            display: none;
        }
    }
    img {
        display: block;
        margin: 0 auto 33px auto;
        width: 69px;
        height: 69px;
    }

    &__title {
        font-size: 1.2rem;
        font-family: inherit;
        line-height: 25px;
        font-weight: bold;
        color: #4074F8;
        margin: 0 0 22px 0;
        
    }

    &__descr {
        font-family: inherit;
        font-weight: 600;
        font-size: .9rem;
        line-height: 19px;
        text-align: center;
        color: #ADB3CB;
    }
}
