.blog {
    padding: 104px 0;
    background: #F5F8FF;
    &__posttitle {
        text-align: center;
    }

    &__title {
        margin: 20px 0 92px 0;
        text-align: center;
    }

    &__slider {
    }
}
.blog-slide {
    width: 83.0155979202773%;
    padding: 64px 37px;
    background-color: #fff;
    border: 1px solid #D8E3FE;
    box-sizing: border-box;
    box-shadow: 0px 15px 50px #EFF4FF;
    &__row {
        justify-content: space-between;
    }

    &__column {
        flex: 0 1 46.14512471655329%;
        display: flex;
        justify-content: space-between;
        &_sm {
            display: flex;
            flex-direction: column;
            flex: 0 1 30.95823095823096%;
            justify-content: space-between;
            .blog-slide__img-block {
                width: 100%;
            }
        }

        &_m {
            flex-direction: column;
        }
    }

    &__img-block {
        position: relative;
        &_big {
            flex: 0 1 65.6019656019656%;
        }
    }

    &__img-element {
        display: block;
    }

    &__icon-zoom {
        position: absolute;
        width: 24.344569288389515%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
    }

    &__descr {
    }

    &__ui {
    }

    &__btn {
    }
}
.row {
}
.btn {

    &_type {
    }
}
