.offer {
    position: relative;
    width: 100%;
    padding: 92px 0 310px 0;
    height: 100%;
    background-image: url('../images/bg/bg_clouds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
    margin: auto;
    background-color: #F1F5FF;
    &__content {
        text-align: center;
        margin: auto;
        position: relative;
        
        z-index: 3;
    }

    &__posttitle {
    }

    &__title {
        margin: 18px 0 0 0;
    }

    &__descr {
        margin: 28px auto 0 auto;
        width: 25%;
    }

    &__btn {
        display: block;
        margin: 20px auto 0 auto;
        background-color: #fff;
        border-radius: 50%;
        padding: 21px;
        box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
        img {
            width: 15px;
            height: 16px;
        }
    }

    &__stats {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        height: 100%;
        justify-content: space-between;
        display: flex;
        &-item {
            opacity: 0;
            transition: .3s;
            &:focus {
                outline: none;
                margin: 0 300px;
            }
            &.active {
                opacity: 1;
            }
        }

        &-hover {
            padding: 17px 21px;
            width: 91px;
            display: block;
            margin: 0 0 5px 0;
            background-image: url('../images/icons/Union.png');
            background-size: 100%;
            background-repeat: no-repeat;
            opacity: 0;
            visibility: hidden;
            background-position: center;
            transition: .5s;
            img {
                width: 35px;
                height: 36px;
                display: block;
                margin: -3px 0 0 0;
                margin: auto;
            }
        }

        &-ui {
            display: block;
            bottom: 0;
            background: #FFFFFF;
            border: 2px solid #5E80FE;
            border-radius: 50%;
            margin: auto;
            width: 15px;
            height: 15px;
            cursor: pointer;
            box-shadow: 0px 0px 15px rgba(82, 131, 255, 0.25);
        }
    }

    @media (max-width:1300px){
        &__descr {
            width: 30%;
        }
    }

    @media (max-width:1000px){
        padding: 52px 0 300px 0;
        &__content {
            
        }

        &__descr {
            width: 50%;
        }
    }

    @media (max-width:480px){
        &__descr {
            width: 80%;
        }
    }
}
.item {
    position: absolute;
    width: 100%;
    z-index: 3;
    display: block;
    top: 220px;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: auto;
    &::-webkit-scrollbar {
        opacity: 0;
    }
    svg {
        display: block;
        margin: auto;
        max-width: 1440px;
        border-left: 1px solid #D8E3FE;
        border-right: 1px solid #D8E3FE;
        @media (max-width:1200px){
            width: 100%;
        }
        @media (max-width:1000px){
            width: 1200px;
        }
        path {
            width: 100%;
        }
        filter {
            width: 100%;
        }
        line {
            width: 100%;
        }
    }
}
.btn-main {
}
